<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Privacy Policy</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Cami ONLY uses your on-device calendar information to display events in widgets.
Cami DOES NOT edit, delete, save or send those information away.

Cami ONLY uses your on-device contacts information to display birthdays information in widgets.
Cami DOES NOT edit, delete, save or send those information away.

Cami ONLY uses your on-device reminders information to display them in widgets and the application.
Cami DOES NOT edit, delete, save or send those information away.

Cami Calendar DOES NOT store or send away any of its users&apos; data.</string>
		</dict>
	</array>
</dict>
</plist>
