<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsSupported</key>
	<array>
		<string>CamiWidgetIntent</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>camical</string>
			</array>
		</dict>
	</array>
	<key>com.apple.security.personal-information.calendars</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>User Script Sandboxing</key>
	<false/>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Cami ONLY uses your on-device reminders information to display them in widgets and the application.
Cami DOES NOT edit or delete or send those information away.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Cami ONLY uses your on-device calendar information to display events in widgets.
Cami DOES NOT edit or delete or send those information away.</string>
	<key>NSContactsUsageDescription</key>
	<string>Cami ONLY uses your on-device contacts information to display birthdays in widgets.</string>
</dict>
</plist>
