<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Cami only uses your data locally to display events. It does not edit or delete them nor sends them away.</string>
	<key>NSContactsUsageDescription</key>
	<string>Cami only uses your data locally to display event information. It does not edit or delete them nor sends them away.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Cami only uses your data locally to display reminders. It does not edit or delete them nor sends them away.</string>
</dict>
</plist>
