<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>About</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Cami Calendar is an application developed by Aemi Studio. Aemi Studio is an organization owned by Guillaume Coquard.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>You can find more work from Aemi Studio on our website or GitHub account: 
- https://aemi.studio
- https://github.com/Aemi-Studio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>You can reach out to Aemi Studio by email at: public@aemi.studio</string>
		</dict>
	</array>
</dict>
</plist>
