<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Informations</string>
			<key>FooterText</key>
			<string>© 2024 Aemi Studio. All Rights Reserved.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>File</key>
			<string>About/About</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Privacy Policy/Privacy Policy</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Privacy Policy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Third Party Library</string>
			<key>File</key>
			<string>Third Party Library/Third Party Library</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Developer Features</string>
			<key>FooterText</key>
			<string>As much as we can guarantee that we don&apos;t do anything with your data, the features you would get by enabling any of the above settings could make you able to alterate your data by yourself.
Please do not reach out if you experience any problem by using those features, we do not support them yet and this is why you have to enable them with those settings.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Access Work-In-Progress Features</string>
			<key>Key</key>
			<string>accessWorkInProgressFeatures</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
