<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>About</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Cami Calendar is a native yet improved calendar widget for your iPhone, iPad or Mac developed by Aemi Studio.

Aemi Studio is an organization aimed toward creating innovative and meaningful interactions through application development.

Aemi Studio is owned and has been founded by Guillaume Coquard (gcqd.fr).

You can find more work from Aemi Studio on our website or GitHub account: 
- https://aemi.studio
- https://github.com/Aemi-Studio

If you need or want to reach out to Aemi Studio, please send an email to:
- public@aemi.studio</string>
		</dict>
	</array>
</dict>
</plist>
